.payment-logo {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray-100);
  border-radius: 4px;
  height: 24px;
  width: 34px;
}

.payment-logo .icon {
  background-image: url(https://c.animaapp.com/hjcXT6qK/img/left.svg);
  background-size: 100% 100%;
  height: 13px;
  left: 6px;
  position: relative;
  top: 5px;
  width: 23px;
}

.payment-logo .overlap-group {
  height: 13px;
  left: 9px;
  position: relative;
  width: 14px;
}

.payment-logo .right {
  height: 13px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 12px;
}

.payment-logo .middle {
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 5px;
}
