.long-button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 400px;
}

.long-button .next {
  margin-bottom: -1px;
  margin-top: -3px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.long-button.outline {
  border: 1px solid;
  border-color: var(--primarypurple-900);
  border-radius: 8px;
}

.long-button.inactive {
  background-color: var(--neutral-white600);
  border-radius: 8px;
}

.long-button.variant-4 {
  border-radius: 4px;
}

.long-button.filled {
  background-color: var(--primarypurple-900);
  border-radius: 8px;
}

.long-button.outline .next {
  color: var(--primarypurple-900);
  font-family: var(--BODY-LARGE-medium-font-family);
  font-size: var(--BODY-LARGE-medium-font-size);
  font-style: var(--BODY-LARGE-medium-font-style);
  font-weight: var(--BODY-LARGE-medium-font-weight);
  letter-spacing: var(--BODY-LARGE-medium-letter-spacing);
  line-height: var(--BODY-LARGE-medium-line-height);
}

.long-button.inactive .next {
  color: var(--neutral-white50);
  font-family: var(--BODY-LARGE-medium-font-family);
  font-size: var(--BODY-LARGE-medium-font-size);
  font-style: var(--BODY-LARGE-medium-font-style);
  font-weight: var(--BODY-LARGE-medium-font-weight);
  letter-spacing: var(--BODY-LARGE-medium-letter-spacing);
  line-height: var(--BODY-LARGE-medium-line-height);
}

.long-button.variant-4 .next {
  color: var(--primarypurple-900);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
  text-decoration: underline;
}

.long-button.filled .next {
  color: var(--neutral-white50);
  font-family: var(--BODY-LARGE-medium-font-family);
  font-size: var(--BODY-LARGE-medium-font-size);
  font-style: var(--BODY-LARGE-medium-font-style);
  font-weight: var(--BODY-LARGE-medium-font-weight);
  letter-spacing: var(--BODY-LARGE-medium-letter-spacing);
  line-height: var(--BODY-LARGE-medium-line-height);
}
