.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-modal {
  width: 536px;
  height: 326px;
}

@media only screen and (max-width: 768px) {
  .home-modal {
    width: 95vw;
    height: 20.375rem;
  }
}


.modal-card {
  width: 479px !important;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  .modal-card {
    width: 100% !important;
  }
}